body{
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(to right,#dfe9f3,#ffffff);
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;   
}

.container{
width:600px;
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 6px 15px rgba(0,0,0,0.15);
}

.logo{
display:block;
margin:auto;
width:400px;   
margin-bottom:15px;
}

h1{
text-align:center;
font-size:26px;
margin-bottom:25px;
color:#0b3c6f;
}

label{
font-weight:600;
display:block;
margin-top:15px;
}

input,select,textarea{
width:100%;
padding:13px;
margin-top:6px;
border:1px solid #ccc;
border-radius:6px;
font-size:15px;
background:#f9fbff;
}

textarea{
resize:none;
}

.gender-row{
display:flex;
align-items:center;
margin-top:15px;
}

.gender-label{
width:120px;
font-weight:600;
}

.gender-options{
display:flex;
gap:30px;
align-items:center;
}

button{
width:100%;
padding:14px;
margin-top:25px;
background:#0b3c6f;
color:white;
border:none;
border-radius:6px;
font-size:17px;
cursor:pointer;
}

button:hover{
background:#1558a6;
}

.reset-btn{
background:#888;
margin-top:10px;
}

.reset-btn:hover{
background:#555;
}